
@model List<ProjectPhase1.Models.LeaveList>

@{
    ViewBag.Title = "DeleteLeave";
    Layout = "~/Views/Shared/_layoutView.cshtml";
}


<h2>DeleteLeave</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Reason</th>
            <th scope="col">Remove</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <th scope="row">@model.LeaveID </ th >
            <td scope="row">t</td>

        </tr>


    </tbody>
</table>